*{
  margin: 0%;
  padding: 0%;
}

.login_header{
  background-color: #501B1D;
  width: 100%;
  height: 80px;
  padding: 0 2%;
}

nav{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  color: white;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a{
  color: white;
}

.login_header a{
  text-decoration: none;
}

.login_main{
  width: 100%;
  height: 900px;
  background-image: url('logBack.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login_main_text{
  width: 35%;
  min-width: 550px;
  position: absolute;
  min-height: 200px;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 50%;
  background:#fffffe ;
  border-radius: 10px;
}

input{
  width: 55%;
  height: 45px;
  font-family: ‘Poppins’,sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 17px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 25%;
  background-color: #FFFFFF;
}

.login_main_text a{
  display: inline-block;
  text-decoration: none;
  background-color: #501B1D;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
  margin: 5% 35% 2% 43%;
}
