* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background: #501B1D;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.profile {
    background: #501B1D;
    margin-bottom: 40px;
    text-align: center;
}

.sidebar h2 {
    color: white;
    margin-top: 50px;
}

.sidebar h4 {
    color: white;
    margin-bottom: 80px;
}

.sidebar ul li a {
    background: #501B1D;
    display: block;
    padding: 5vh 10%;
    font-size: 16px;
    position: relative;
    color: white;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    color: black;
    background: #fff;
}

.sidebar ul li a:hover:before,
.sidebar ul li a:active:before {
    display: block;
}

.mainpart {
    position: fixed;
    top: 0;
    right: 0;
    width: 77vw;
    height: 100vh;
    padding: 40px 0;

}

.tasktable {
    margin-top: 30px;
}

.disp {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
    height: 12vh;
    border: 1px solid brown;
    border-radius: 20px;
    background: #501B1D;
    cursor: pointer;
    
}

.leftdiv .datediv {
    padding-left: 10px;
    font-size: 90%;
    color: white;
}

.leftdiv .titlediv {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 160%;
    color: white;
}

.leftdiv .categorydiv {
    padding-left: 25px;
    font-size: 90%;
    color: white; 
}

.rightdiv .prioritydiv {
    padding-left: 210px;
    font-size: 100%;
    color: white;
    padding-top: 10px;
}

.rightdiv .statusdiv {
    padding-right: 220px;
    font-size: 130%;
    color: white;
}

.disp:hover {
    scale: 1.01;
}

